@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500&display=swap");

.getstarted {
  margin-top: 85px;
  margin-left: 180px;
}
.main-heading {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff7518;
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}
.paragraph {
  max-width: 1180px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
